Html {
  color: black;
  background-image: url("https://raw.githubusercontent.com/unendingTinker/Notes-on-How-The-Steel-Was-Tempered/refs/heads/main/websiteBG(smaller).png");
  font-family: 'mono';
  text-align: center;
  font-size: 16px;
}


body {
  margin: 0;
}

h1 {
  font-size: 32px
}

h2 {
  font-size: 28px
}

h3 {
  font-size: 24px
}

p {
  font-size: 16px 
}

mark {
  background-color: white;
  color: red;
  padding-left: 4px; 
  padding-right: 4px;
  border: black 3px solid;
  border-radius: 8px;
}

.titleMark {
  text-shadow: 0 0 2px red;
}

.headingMark {
  color: black;
  box-shadow: 0 0 10px #ebcc00;
}

.bibMark {
  color: #0592ff; 
  box-shadow: 0 0 10px #0592ff;
}

.bibLinkMark {
  border: black 2px solid;
  border-radius: 6px;
  box-shadow: 0 0 5px black;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  place-content: center;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0px;
}

#menu {
  font-size: 24px;
}

 #titleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ebcc00 5px solid;
  border-radius: 8px;
  background-image: linear-gradient(to right, #00f5ff, #ff4cc1, #d90000);
  background-color: white;
  box-shadow: 0 0 20px  #ebcc00;
}

#mainContainer {
  border: #ebcc00 5px solid;
  border-radius: 8px;
  height: auto;
  width: 80%;
  margin-top: 8px;
  margin-bottom: 8px;
  margin: auto;
  padding: 15px;
  background-size: 100% 100%;
  /* background-image: linear-gradient( white, #ffe860); */
  background-color: white;
  box-shadow: 0 0 30px #ebcc00;
}

#topSection {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
  "box-1 box-1"
  "box-2 box-2";
  place-content: center;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0px;
}

#bibContainer {
  border: #058aff 5px solid;
  border-radius: 8px;
  height: auto;
  width: 80%;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-size: 100% 100%;
  background-color: white;
  box-shadow: 0 0 30px #058aff;
}

.titleText {
  font-size: 32px;
  font-weight: bold;
}

.headingText {
  font-size: 24px;
  font-weight: bold;
}

.quote {
  border-radius: 4px;
  box-shadow: 0 0 12px red;
}