@font-face {
  font-family: 'mono';
}

Html {
  background-size: 100% 100%;
  color: black;
  background-image: url("websiteBG.png");
  font-family: 'mono', 'ms gothic';
  text-align: center;
  font-size: 16px;
}


body {
  margin: 0;
}

h1 {
  font-size: 32px
}

h2 {
  font-size: 28px
}

h3 {
  font-size: 24px
}

p {
  font-size: 16px 
}

mark {
  background-color: white;
  color: red;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  place-content: center;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0px;
}

#menu {
  font-size: 24px;
}

#mainContainer {
  border: #ebcc00 5px solid;
  border-radius: 4px;
  height: auto;
  width: 80%;
  margin: auto;
  padding: 15px;
  background-size: 100% 100%;
  /* background-image: linear-gradient( white, #ffe860); */
  background-color: white;
}

#topSection {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
  "box-1 box-1"
  "box-2 box-2";
  place-content: center;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0px;
}

#bibContainer {
  border: #ebcc00 5px solid;
  border-radius: 4px;
  height: auto;
  width: 80%;
  margin-bottom: 16px;
  margin: auto;
  padding: 15px;
  background-size: 100% 100%;
  background-color: white;
}

.titleText {
  font-size: 32px;
  font-weight: bold;
}

.headingText {
  font-size: 24px;
  font-weight: bold;
}




